/.idea/
/.vscode/
/.DS_Store
/.python-version
/.venv/
/venv/
/.mypy_cache/
/target/
**/target/
/.spark-warehouse/
/metastore_db/
/logs/
/results/**/*.csv
/results/**/*.json
/results/**/*.png
/results/.gitignore
/checkpoint/
**/.ipynb_checkpoints/
*.iml
*.log
*.pyc
__pycache__/
/generator/.env
/probe/.env
/docker-data/
